#***REMOVED***Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

#***REMOVED***Editor***REMOVED***directories***REMOVED***and***REMOVED***files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#***REMOVED***Local***REMOVED***Netlify***REMOVED***folder
.netlify

#***REMOVED***Sensitive***REMOVED***files
docs/Stripe_Key.txt
*.key
*.pem
.env
.env.local
.env.production
